body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

.container {
    margin-top: 20px;
}

button {
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#text-output {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    word-wrap: break-word; /* Энд дээр текстийн урт хамаардаг тул багтахгүй бол шивж гаргах болно */
    white-space: pre-wrap; /* Зурвас хуудсанд шивэх үед багтах боломж олгоно */
}
